<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muse.muse_android">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/muse_logo"
        android:label="@string/name"
        android:roundIcon="@drawable/muse_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.muse.muse_android.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.muse.muse_android.CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:parentActivityName="com.muse.muse_android.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.muse.muse_android.ArticleActivity"
            android:label="@string/title_activity_article"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>